torch==2.5.1
typer==0.15.1
fastapi==0.115.6
uvicorn==0.34.0
librosa==0.10.2
pandas==2.2.3
matplotlib==3.10.0
invoke==2.2.0
tqdm==4.67.1
httpx==0.28.1
loguru==0.7.3

# data version control
dvc==3.59.0
dvc-gs==3.0.1
